{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}首页{% endblock %}

{% block content %}
    <h1>月明星稀的博客</h1>
    {% if tag %}
        <h2>标签为{{ tag.name }}的文章</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            {{ forloop.counter }}:
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
            <p class="tags">标签：
                {% for tag in post.tags.all %}
                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                    {% if not forloop.last %} ,
                    {% endif %}
                {% endfor %}
                </p>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|markdown|truncatechars_html:150 }}
    {% endfor %}
    {% include "blog/pagination.html" with page=posts %}
{% endblock %}