{% extends "blog/base.html" %}

{% block title %}搜索{% endblock %}

{% block content %}
    {% if "query" in request.GET %}
        <h1>包含{{ cd.query }}的文章</h1>
        <h3>找到{{ total_results }}项结果</h3>
        {% for result in results %}
            {% with post=result.object %}
                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                {{ post.body|slice:'100' }}
            {% endwith %}
            {% empty %}
                <p>什么也没找到！</p>
        {% endfor %}
    {% endif %}
{% endblock %}












